<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
Estimado / a<br><br>
Agradecemos tu interés en participar del Programa de Referidos. Estaremos tomando contacto con el candidato incluyéndolo en el Proceso de Selección que mejor se adecue a su perfil.<br><br>
Ante cualquier inquietud que tengas quedamos a tu disposición.<br><br>
Saludos,<br><br>
Recursos Humanos<br>
Adistec - Distribuidor de Valor Agregado