/* Update ARC with the following styles, after that delete them  */


/* --- SingleSelectionList */
.a-theme_modern ul.single-selection-list li input[type=radio] + label {
  padding: 12px 14px !important;
  display: table !important;
}
.a-theme_modern .forceChildHeight140px ul.single-selection-list li input[type=radio] + label{min-height: 140px;}

.a-theme_modern ul.single-selection-list li input[type=radio] + label .item-icon {
  display: table-cell !important;
  vertical-align: middle !important;
}
.a-theme_modern ul.single-selection-list li input[type=radio] + label .item-icon {
  width: 45px !important;
  height: 45px !important;
  text-align: center !important;
  border-radius: 50% !important;
  margin-right: 15px !important;
  background-color: transparent;
}
.a-theme_modern ul.single-selection-list li input[type=radio] + label .item-icon i,
.a-theme_modern ul.single-selection-list li input[type=radio] + label .item-icon span {
  vertical-align: middle !important;
  display: table-cell !important;
  width: 45px !important;
  height: 45px !important;
  text-align: center !important;
  background-color: #EEF6FE !important;
  border-radius: 50% !important;
}
.a-theme_modern ul.single-selection-list li input[type=radio] + label .item-text {
  display: table-cell !important;
  vertical-align: middle !important;
  padding-left: 18px !important;
}
.a-theme_modern ul.single-selection-list li input[type=radio] + label .item-text span.description{
  font-size: 14px !important;
  display: block !important;
  margin-top: 5px !important;
  color:#666;
}
.a-theme_modern ul.single-selection-list li input[type=radio]:checked + label span.description{
  color:#FFF;
}

/* --- AdistecSelectField.scss */
.adistec-select-field .select--multi-floatinglabel{
  font-size: 14px;
}
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus, .Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover, .Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus, .Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover{
  text-decoration:none;
}


/* --- theme_modern.scss */
.a-theme_modern ul.single-selection-list li input[type=radio] + label{
  padding: 18px 20px;
}
.a-theme_modern ul.single-selection-list li {
  padding: 10px 10px 10px 10px;
}

.a--overflow_hidden{
  overflow:hidden !important;
}

.a--margin-top_5{
  margin-top:5px !important;
}
.a--margin-bottom_5{
  margin-bottom:5px !important;
}

.a--margin-top_15{
  margin-top:15px !important;
}
.a--margin-bottom_15{
  margin-bottom:15px !important;
}
.a--padding-top_0{
  padding-top:0px !important;
}
.a--padding-bottom_0{
  padding-bottom:0px !important;
}



.a-nav.a-nav--section > li ul {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.a-nav.a-nav--section > li > a:visited:not(.a-btn--border){
  color:#FFF;
}
.a-nav.a-nav--section > li ul li {
  font-size: 13px;
  padding: 6px 0;
}

/* Begin : Filters */
.title{
  .fa.fa-filter{
    &,
    &+strong{
      display:none !important;
    }
  }

  .title-buttons{
    position: absolute !important;
    right: 15px !important;
    top: 25px !important;
    z-index: 1;
  }
}
/* End : Filters */

.success-modal{
  &>div>div:last-child{
    div a div button{
      background-color:#5da061 !important;
    }
  }
}