@import './mixins';
@import './responsive.scss';
@import './theme_modern.scss';

/* --- VARS --- */
$defaultFontStack : 'Open Sans', Helvetica, Arial, sans-serif;

/* Font Sizes */
$xsmFont : 9px;
$smFont : 12px;
$mdFont : 16px;
$lgFont : 20px;

/* Colors */
$adistecBlue : #005fab; /*0,95,171*/
$adistecLightBlue : #008fcb; /*0,143,203*/
$adistecPaleBlue : lightblue; /*173,216,230*/
$adistecBlueHovered:lighten($adistecBlue,8);

$mapOrange : #EDC12C;
$mapGreen : #5da061;

$flatLightBlue: $adistecBlueHovered;
$flatGreen:#73ae77;
$flatYellow:#f1c40f;
$flatRed: #e74c3c;
$flatOrange:#f39c12;
$flatGrey:#7f8c8d;

/* Dimensions */
$headerHeight : 74px;
$footerHeight : 50px;

@mixin buttonSizeSm{
  font-size: 13px;
  padding: 3px 10px;
}

/* Animations */
@mixin transitionAll(){
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

/*Mixins */

@mixin uppercase_label{
  text-transform:uppercase;
  color:#999999;
  font-size:12px;
}

@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box_shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@mixin card_styled($color){
  @include border_radius(3px);
  @include box_shadow(1);
  background-color:$color;
}

/* Resets */
@mixin removeBoxShadow{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

@mixin noselecthighlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
*{
  outline:none;
}

ul{
  padding-left:0px;
}
ul, ul li{
  list-style-type:none;
}



/* --- UI --- */
a{
  color:$adistecLightBlue;
}

.register-form {
  margin-left: 8.3333333333%;
  width: 83.3333333333%;
  left: auto;
  right: auto;
}

/* Header */
header{
  /*height: 50px;*/
  background-color:$adistecBlue;

  a>img{
    max-height: 100% !important;
  }

  .brand-logo{
    padding-top: 6px;

    img{

      @include sm-only(){
        width: 210px;
        padding: 17px 0px;
      }
    }
  }

  .dashboard-button{
    float: right;
    position: relative;
    margin-top: 4px;
    padding-right: 20px;

    &:before{
      content: "";
      position: absolute;
      right: 10px;
      border-left: solid 1px rgba(0,0,0,0.2);
      height: 36px;
      top: 0px;
    }

    a{
      color: #FAFAFA !important;
      padding: 6px 16px 6px 11px;
      display: block;

      &:hover{
        /*background-color: rgba(153,153,153,0.2);*/
      }

      span{
        font-size: 17px;
      }

      span,
      i{
        vertical-align: middle;
      }
    }

    .cssTooltip{
      position: absolute;
      text-align: center;
      border-radius: 2px;
      background-color: rgb(97, 97, 97);
      font-size: 10px;
      line-height: 22px;
      padding: 1px 8px;
      opacity: 0;
      transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      box-sizing: border-box;
      transform: translate(0px, 0px);
      white-space: nowrap;
      margin-left: -51px;
      left: 50%;
    }
    &:hover .cssTooltip{
      opacity: 0.9;
      transform: translate(0px, 14px);
    }
  }
}
.brand-logo.centered{
  width: 100%;
  text-align: center;
}


.korm-nav {
  background-color: #fafafa !important;
}
.korm-logo {
  -webkit-user-select: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
nav{
  ul a {
    color: $adistecBlue;
    font-weight: 700;
    padding: 0 20px;

    &:hover{
      color: #FFF;
      background-color: $adistecBlue;
    }
  }

  ul a.btn{
    margin-right:0px;
  }

  li.username{
    border-left: solid 1px #DDD;
    color: #999;
    padding: 0px 0px 0px 20px;
  }
}

.btn{
  background-color: $adistecBlue;
  border-radius: 0px;
  text-transform: none;

  &:hover,
  &:focus{
    background-color: $adistecLightBlue;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $adistecBlue;
}
.korm-fixed-button {
  position: inherit;
  right: 24px;
  margin-bottom: 15px;
}


/* Margins, Paddings */
.mt0{
  margin-top:0px;
}
.mt15{
  margin-top:15px;
}
.mb0{
  margin-bottom:0px !important;
}
.mb15{
  margin-bottom:15px;
}

/* Footer */

/*
html, body, #app, #main-wrapper {
  height: 100%;
  min-height: 100%;
}
*/

body {
  margin: 0;
}
.main-wrapper{
  min-height: 100%;
  margin-bottom: 0-$footerHeight;
  background-color:#FAFAFA;
}
.main-wrapper:after {
  content: "";
  display: block;
}
footer, .main-wrapper:after {
  height: $footerHeight;
}
footer{
  display: table;
  width: 100%;
  border-top: solid 1px #EEE;
  color: #999;
  font-size: 0.8rem;
  text-align: center;

  p{
    display:table-cell;
    vertical-align: middle;
    margin:0 auto;
  }
}


/* Tables */
table {
  margin-bottom: 40px;
}
table th{
  background-color: #FAFAFA;
  border: solid 1px #EEE;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
}
table td{
  padding: 15px 15px;
}

.btn{
  line-height:34px;
}


/* Forms and Buttons */

form label.error{
  color:red;
  position: relative;
  float: left;
  left: 0;
  top: 0;
  font-size: .8rem;
  padding: 0 0.75rem;
}

.login-form-container,
.card-padding{
  padding: 30px 20px
}

@mixin flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LoginPage */
.main-wrapper{
  @include flex-center-center;

  &.login-screen{
    background-color:#FAFAFA;
  }

  .brand-logo{
    display: block;
  }

  .login-form-conainer{
    display:inline-block;
    width: 400px;
    padding: 30px 20px;
    vertical-align: top;
  }

  .login-form-conainer + .login-form-conainer{
    margin-left:40px;
  }
}

[type="checkbox"].filled-in:checked + label:after{
  border-color: $adistecBlue;
  background-color: $adistecBlue;
}

.blue {
  background-color: $adistecBlue !important;
}
.bluefont{
  color: $adistecBlue;
}

.btn-flat {
  color: $adistecBlue !important;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: $adistecPaleBlue;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: $adistecBlue;
}

.korm-content {
  display: inline;
}

.korm-input {
  width: 45%;
  display: inline-block;
}

.korm-row {
  cursor: pointer;
}

.korm-edit-delete {
  text-align: left;
  cursor: pointer;
  color:$adistecBlue !important;
}

.fixed-action-btn {
  position: inherit !important;
}

.dropdown-btn {
  position: inherit !important;
  height: 0;
  display: -webkit-box;
  padding-left: 40px;
}

/* Type */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
html body,
html body div{
  font-family: $defaultFontStack !important;
}
h4{
  font-size:1.5rem;
  font-weight: 700;
  color: $adistecBlue;
  padding: 0px;

  &.section-title{
    padding:10px 0px;
    text-transform: uppercase;
  }
}
strong{
  font-weight: 700;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align:right !important;
}

.success-modal-body{
  border:solid 1px red;
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: $headerHeight;
    line-height: $headerHeight;
  }
  .navbar-fixed{
    height: $headerHeight;
  }
}

input.invalid + label.active {
  width: 100%;
}


#main-wrapper {
  display: flex;
  flex-direction: column;
  background-color:#F5F5F5;
  min-height: 100vh;
}

main{
  overflow-y: auto;
}
#content {
}
footer {
  height: 50px;
}


.section-title-container{
  height:70px;

  &.has-side{
    .section-title{
      float:left;
    }
    .title-side{
      float:right;
      padding: 6px 0px;

      em{
        font-style:normal;
        margin-right:10px;
      }

      .search-box{
        margin-top:10px;
      }
    }
  }
}

h4 {
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

.center, .center-align {
  text-align: center;
}



@media only screen and (min-width: 0) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
/*
@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
*/

a {
  text-decoration: none;
}

.switch{
  display:flex;
  align-items: center;

  label{
    white-space:nowrap;
  }

  p{
    font-size:0.8em;
  }

  label + p,
  p + label{
    padding-left:20px;
  }
}

.search-box{
  background-color:#FFF;
  position:relative;
  float: right;
  width: 90%;
  transition: width 0.3s ease;

  &.focused{
    width:160%;
  }

  input[type=text],
  input[type=text]:focus{
    border:none;
    margin-bottom:0px;
    padding-left: 3em;
    width:calc(100% - 3em);
    @include removeBoxShadow;
  }

  i.material-icons{
    position: absolute;
    top: calc(50%);
    margin-top: -10px;
    left: 0.5em;
    font-size: 1.4em;
  }

  .search-box{
    margin-top: 10px;
  }
}

.card-list{
  text-align:center;

  .card{
    @include flex-center-center;

    a{
      display:block;
      width:100%;
    }

    .image-container{
      width:100%;
      height:80px;
      margin-top:25px;
      padding: 0px 30px;
      @include flex-center-center;
    }

    img{
      max-width: 100%;
      max-height: 100%;
      padding: 0px;
    }
    img[src*=svg]{
      max-width: 100%;
      height: 100%;
      padding: 30px;
    }

    strong{
      display:block;
      padding:15px 20px 25px 20px;
      font-weight:normal;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@mixin triangleUp($triangleSize, $triangleColor){
  width: 0;
  height: 0;
  border-left: $triangleSize solid transparent;
  border-right: $triangleSize solid transparent;
  border-bottom: $triangleSize solid $triangleColor;
}

.material-icons.person {
  color: #FAFAFA;
  font-size: 1.3rem;
  margin-left: 15px;
  vertical-align: text-bottom;
}

.account-dropdown{
  position: relative;
  margin-top: 8px;
  margin-right: 4px;
  cursor:pointer;

  &>span.username,
  &>span.username + i{
    color:#FFFFFF;
    vertical-align: middle;
    margin-right:10px;
  }

  &:hover>span.username,
  &:hover>span.username + i,
  &.open>span.username,
  &.open>span.username + i{
    color:$adistecPaleBlue;
  }
}

.floating-dropdown-menu{
  position: absolute;
  background-color: #FAFAFA;
  margin-top: 15px;
  display:none;
  z-index: 9;

  *{
    @include noselecthighlight;
  }

  ul,
  ul li{
    padding:0px;
    margin:0px;
  }

  li{

    &:not(:first-child){
      border-top:solid 1px #DDDDDD;
    }

    a,
    span[class]{
      display:block;
      padding:15px 20px;
    }

    .logoutbutton{
      background-color:#FFFFFF;

      &:hover{
        color:$adistecBlue;
      }
    }

    i,
    i + span{
      vertical-align: middle;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom:100%;
    right:10px;
    @include triangleUp(7px, #FAFAFA);
  }

  &.right{
    float:none;
    right: 4px;
  }
}
.open .floating-dropdown-menu{
  display:block;
}

.material-card + .material-card {
  margin-left: 35px;
}

.login-text + .login-text {
  margin-top: 35px;
}

.light, footer.page-footer .footer-copyright {
  font-weight: 300;
}

*, *:before, *:after {
  box-sizing: border-box !important;
}



/* Quote Details Styles */
.section-title-container{
  background-color: #EEEEEE;
  width:100%;

  .container{

    h4{
      color:#666666;
      font-size:20px;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 8px;
    }
    .section-title-buttons{
      float:right;
      text-align: right;
      padding-top: 16px;

      &.hidden{
        display:none;
      }
    }

    .open-drawer{
      border:none;
      background-color: transparent;
      padding-top: 8px;

      i{
        padding-top: 7px;
        color:#666;
      }
    }

    h4,
    .section-title-buttons,
    button{
      display: inline-block;
      vertical-align: middle;

      @include sm-only{
        width:100%;
      }

    }

  }
}

.quote-details-container{

  @include sm-only{
    padding-top:10px;
    float:left;
  }

  .quote-head{
    @include sm-only {
      margin-bottom:25px;
    }

    .title{
      text-align:left;

      @include sm-only {
        text-align: center;
        margin-bottom: 10px;

        .fa{
          display:none;
        }
      }

      strong{
        font-weight: 700;
      }

      .quote-number{
        font-size:14px;
        text-transform:uppercase;
        float: none;
        display: block;
        text-align: center;

        @include sm{
          text-align: right;
          float:right;
          margin-top:0px;
        }

        .number{
          color:#999999;

          @include sm-only {
            display:block;
          }

          strong{
            color:#333333;
          }
        }
        .badge{
          @include sm {
            margin-left: 20px;
          }
          @include sm-only{
            margin-top: 15px;
            display: inline-block;
          }
        }
      }
    }
  }

  .quote-fields{

    .quote-field{

      label{
        @include uppercase_label;

        @include sm-only {
          margin-top:15px;
          display:block;
        }
      }
      p{
        margin:5px 0px 0px 0px;
        color:#333333;

        @include sm-only {
          margin:0px;
        }
      }

    }

    hr{
      margin:10px 0px;
    }

  }

  .quote-summary{
    @include card_styled(#FFFFFF);
    float:left;
    width:100%;
    padding:15px;
    margin-top: 15px;

    .label-value-list li:not(:last-child){
      color:#999;
    }

    @include sm{
      margin-top: -5px;
    }

    h5{
      color:$adistecBlue;
      font-size:16px;
      margin:0px 0px 3px 0px;
      padding:0px 0px 3px 0px;
    }

    .quote-summary-footer{
      border-top:solid 1px #EEEEEE;
      margin:5px -15px 0px -15px;

      .fa{
        font-size:23px;
        color:#999999;
        padding-top: 20px;
        width: 100%;
        text-align: right;
      }

      .quote-summary-date{
        padding-top:12px;

        label{
          @include uppercase_label();
        }
        p{
          margin:0px;
        }
      }
    }
  }
}

ul.label-value-list{
  &,
  & li{
    margin:0px;
    padding:0px;
    list-style-type: none;
    display: inline-block;
    width: 100%;
  }
  &>li>span:nth-child(2):before{
    content: '$';
  }
  & li span{
    float:left;
    width:50%;
    padding-bottom: 3px;
  }
  & li span + span{
    float:right;
    width:50%;
    text-align: right;
  }
}
.currency-column{
  &>span:before{
    content: '$';
  }
}

h5.title {
  margin: 10px 0px 10px 0px;
  font-weight: normal;
  font-size: 16px;
  color: #999;

  strong{
    margin-right: 10px;
  }

  & + .row{
    margin-top:20px;
  }

  .title-buttons{
    float:right;

    &.hidden{
      display:none;
    }

    .btn-coloredbg{
      @include buttonSizeSm;
    }
  }
}

.boolean-text{
  text-transform: uppercase;
  font-weight: 700;

  &.yes{
    color:$flatGreen;
  }
  &.no{
    color:#999;
  }
}

button{
  border:none;
  background-color: transparent;
  font-family: inherit;
  cursor:pointer;
}
.text-button{
  color:$adistecBlue;
  text-transform: uppercase;
  font-weight: 600;

  &:hover{
    color:lighten($adistecBlue,12)
  }
  &.block{
    display:block;
    text-align:center;
    width: 100%;
  }

  &.viewless{
    font-weight:300;
    margin-right: 10px;
  }
}

@mixin button_default{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding:7px 15px;
}

.btn-standard{
  @include button_default;
  color:$adistecBlue;
}
.btn-coloredbg{
  @include button_default;
  background-color:$adistecBlue;
  color:#FFF;
  @include border_radius(50px);
  border: solid 2px #005fab;

  &.sm{
    @include buttonSizeSm;
  }

  &:hover{
    background-color:$adistecBlueHovered;
    border-color:$adistecBlueHovered;
  }

  &.busy{
    background-color:#999999;
    color:#FFFFFF;
    cursor:default;

    .fa{
      display:none;
    }
  }
}
.btn-coloredborder{
  @include button_default;
  color:$adistecBlue;
  @include border_radius(50px);
  border: solid 2px #005fab;
  @include buttonSizeSm;

  &:hover{
    border-color:$adistecLightBlue;
    color:$adistecLightBlue;
  }
}

/* Dashboard Styles */
.dashboard-container{

  .quick-link{
    @include card_styled($adistecBlue);
    font-family: inherit;
    display:block;
    border:none;
    width:100%;
    text-align: center;
    color:#FFF;
    padding:0px;
    @include transitionAll;

    &:hover{
      background-color: $adistecBlueHovered;
      cursor: pointer;
    }

    .icon{
      padding:25px 15px 0px 15px;
      .fa{
        display:block;
        font-size:28px;
      }
      em{
        font-style: normal;
        text-transform: uppercase;
        font-size:13px;
        font-weight: 700;
        padding-top:10px;
        display: block;
      }
    }
    /*var{
      font-style: normal;
      font-size:36px;
      padding: 10px 0px 15px 0px;
      font-weight: 300;
      display: block;
    }*/
    .quick-link-cta{
      display: block;
      padding: 15px;
      text-transform: uppercase;
      border-top: solid 1px darken($adistecBlue,4);
      color:rgba(255,255,255,.6)
    }
    &:hover .quick-link-cta{
      color:rgba(255,255,255,1)
    }

    &>div+div{
      position: relative;
    }

  }

}

.expandable-text{
  position:relative;
  width:100%;
  display: block;

  .fa-caret-down{
    color:#999;
    position:absolute;
    right:0px;
    top:50%;
    margin-top:-5px;
    display:none;
  }

  input[type=checkbox]{
    display:none;
  }

  @include sm-only{
    cursor:pointer;

    input[type=checkbox]{
      & + div{
        height: 25px;
        overflow-y: hidden;
        box-shadow: inset 0px -4px 9px -6px;
        padding-right:20px;

        .fa-caret-down{
          display:block;
        }
      }
    }

    input[type=checkbox]:checked{
      & + div {
        height:auto;
        box-shadow: inset 0px 0px 0px 0px;
        padding-right:0px;

        .fa-caret-down {
          display:none;
        }
      }
    }
  }

  &.forced{
    cursor:pointer;

    input[type=checkbox]{
      & + div{
        height: 25px;
        overflow-y: hidden;
        box-shadow: inset 0px -4px 9px -6px;
        padding-right:20px;

        .fa-caret-down{
          display:block;
        }
      }
    }

    input[type=checkbox]:checked{
      & + div {
        height:auto;
        box-shadow: inset 0px 0px 0px 0px;
        padding-right:0px;

        .fa-caret-down {
          display:none;
        }
      }
    }
  }
}

.list-pager-container{
  color:#999;
  margin-top:5px;
  margin-bottom: 0px !important;

  .pagesize{
    select{
      color:#666;
      border:none;
      background-color: transparent;
    }
  }
}

.list-container{
  @include box_shadow(1);
  @include border_radius(3px);
  background-color: #FFFFFF;
  margin-bottom:40px;
  overflow-x: auto;

  @include sm-only{
    overflow-x: visible !important;
  }

  &.small{
    table{
      font-size:$smFont;
    }
  }

  table{
    width:100%;
    margin-bottom:0px;

    @include md {
      tr:nth-child(even) {
        background-color: #FAFAFA;
      }
      tr:hover {
        background-color: #f5f5f5;
        cursor: default;
      }
    }

    th{
      text-align:left;
      font-size:13px;
      font-weight: 700;
      text-transform: uppercase;
      padding:10px 15px;
      border-left:none;
      border-right:none;
      background-color: #FFF;

      &.nowrap{
        white-space: nowrap;
      }

      &.percentage-container{
        padding-left:35px;
        white-space: nowrap;
      }
    }
    td {
      padding: 10px 15px;
      position:relative;

      .sm-quantity-value,
      .sm-cell-value,
      .sm-only{
        display:none;
      }

      &.percentage-container{
        position:relative;
        padding-left:60px;

        var{
          color:$adistecBlue;
          border:solid 1px $adistecBlue;
          position: absolute;
          width: 40px;
          left: 14px;
          @include border_radius(3px);
          font-style: normal;
          text-align: center;

          &[data-percentage='0']{
            color:#999 !important;
            border-color:#999 !important;
          }
        }

        @include sm-only(){
          position:static;
          padding-left: 5px;

          var {
            left: 0px;
            position:relative;
          }
        }
      }

      &.prefix-container{
        .prefixed-amount{
          display:block;
          line-height: 25px;
          text-align:right;

          @include sm-only(){
            text-align:left;
          }

          &.small{
            font-size:$smFont;
            color:#999;
          }

          &:after{
            content:attr(data-prefix);
            color:#999;
            border:solid 1px #CCC;
            padding:0px 3px;
            margin-left: 4px;
            @include border_radius(3px);
          }
        }
      }

      &.imageList{
        font-size: 0px;
        text-align: center;

        &>div{
          white-space: nowrap;

          ul{
            width: 120px;

            li {
              float: left;
              width: 30px;
              padding: 0px;
              height: 30px;
              margin: 0px;
              position: relative;

              img{
                width: 30px;
                border-radius: 100px;
                border: 2px solid #fff;
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
                margin: 0 auto;
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include transitionAll();

                &+img{
                  margin-left: -10px;
                }
                &:hover{
                  width: 60px;
                  z-index: 10;
                }
              }
            }
          }
        }



      }

      .badge:not(.sm-only){
        width:100%;
        display:block;
        text-align:center;
      }

      p.subdata{
        font-size:$smFont;
        color:#999;
        margin-top: 3px;
        margin-bottom: 3px;
      }

    }

    @include sm-only{

      tbody{
        font-size:12px;
      }
      thead{
        display:none;
      }
      tr{
        position:relative;
        display: block;
        border-bottom: solid 1px #EEE;

        td:last-child {
          border-bottom: solid 10px #F5F5F5;
          overflow: visible;

          &:after {
            content: "";
            height: 10px;
            background-color: #F5F5F5;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: -1px;
            z-index: 9999;
            left: -1px;
            border-bottom: solid 1px #CCC;
            border-top: solid 1px #CCC;
          }
        }
      }
      tr:last-child{
        td:last-child {
          border-bottom: none;
          &:after {
            display:none;
          }
        }
      }

      td{
        display:block;
        padding:5px;
        text-align:left !important;
      }
      td:before{
        content:attr(data-column-title);
        color:#999;
        display:block;
      }
      td.sku-column{
        position:relative;
      }
      td.quantity-column,
      td.hideonsm-column{
        display:none;
      }
      td .sm-quantity-value,
      td .sm-cell-value{
        display: block;
        position: absolute;
        top: 6px;
        right: 8px;
        font-size: 12px;
        font-style: normal;
        color: #333;

        &[data-prefix]:before{
          //content:"\00d7";
          content:attr(data-prefix);
          padding-right:3px;
        }
      }
      td .badge.sm-only{
        display:block;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .nowrap{
      white-space: nowrap;
    }
    .align-center{
      text-align: center;
    }
    .align-right{
      text-align: right;
    }
  }
}

.badge{
  @include border_radius(3px);
  padding:5px 15px;
  text-transform:uppercase;
  white-space: nowrap;

  &.small{
    text-transform:uppercase;
    font-size:$xsmFont;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 1px 5px;
  }

  &.badge-border{
    border:solid 2px $flatGreen;
    color:$flatGreen;
    &.yellow{
      border-color:$flatYellow;
      color:$flatYellow;
    }
    &.gray{
      border-color:#AAA;
      color:#AAA;
    }
    &.green{
      border-color:$flatGreen;
      color:$flatGreen;
    }

    /*State colors*/
    &.requested{
      border-color:$flatRed;
      color:$flatRed;
    }
    &.inprogress{
      border-color:$flatOrange;
      color:$flatOrange;
    }
    &.onhold{
      border-color:$flatLightBlue;
      color:$flatLightBlue;
    }
    &.cancelled{
      border-color:$flatGrey;
      color:$flatGrey;
    }
    &.done{
      border-color:$flatGreen;
      color:$flatGreen;
    }
  }

  &.badge-pill{
    border:none;
    color:#FFF;
    @include border_radius(50px);

    &.yellow{
      background-color:$flatYellow;
    }
    &.gray,
    &.closed{
      background-color:#AAA;
    }
    &.green,
    &.open{
      background-color:$flatGreen;
    }
    &.red,
    &.expired{
      background-color:$flatRed;
    }
    &.lightblue,
    &.processed{
      background-color:$adistecLightBlue;
    }
  }
}

.divider-h{
  display: block;
  border-top: solid 1px #DDD;

  @include sm{
    margin-right: -20px;
    margin-bottom:20px;
  }

}

.quick-search-container{
  @include card_styled(#FFFFFF);
  padding:17px 20px 20px 20px;
  margin-bottom:20px;

  button[type=submit]{
    font-size:14px;
  }

  @include lg{
    margin-bottom:0px;
  }
}

.filter-container{

  margin-bottom: 15px;

  button.viewless{
    &:hover{
      .hover-icon {
        font-family: 'FontAwesome';
        margin-right: 3px;

        &:before {
          content: "\f0fe";
        }
      }
    }
  }
  &.open{
    button.viewless{
      &:hover{
        .hover-icon {
          font-family: 'FontAwesome';
          margin-right: 3px;

          &:before {
            content: "\f146";
          }
        }
      }
    }
  }
}

.filter-group{
  @include card_styled(#FFFFFF);
  padding:17px 20px 20px 20px;
  height:97px;
  overflow: hidden;
  width:100%;

  &.open{
    height:auto;
  }
  &.hidden{
    height:0px;
    padding:0px;
  }

  .separator-h{
    float: left;
    width: 110%;
    box-shadow: inset 1px 3px 9px -7px;
    height: 10px;
    margin-left: -10px;
    margin-right: 0;
    margin-top: 5px;
  }
}

hr.hr-1{
  border-top: none;
}

.form-field-container{
  margin: 10px 0px;

  input,
  textarea{
    border: none;
    padding: 7px 0px;
    border-bottom: solid 1px #DDD;
    width: 100%;
    font-family: inherit;
  }

  textarea{
    border: solid 1px #DDD;
    padding:7px;
    @include border_radius(3px);
    margin-top:-5px;
    min-height:200px;
  }
}

.uppercase-label {
  @include uppercase_label;
}

header {
  img {
    /*padding: 15px 0px;*/
  }
  .customer-menu {
    float: right;
    color: #FFF;
    vertical-align: middle;
    padding: 24px 0px;

    &,
    i {
      vertical-align: middle;
    }
  }
}

.bottom-buttons-container{
  margin-bottom: 25px;

  &.stacked{
    float:left;
    width:100%;
    margin-top: 10px;

    button, a{
      display:block;
      width:100%;
      margin-top: 5px;
    }
  }

  .submit button{
    background-color: $flatGreen !important;

    &:hover{
      background-color: lighten($flatGreen, 2) !important;
    }
  }
}

.relative{
  position:relative;
}
.uppercase{
  text-transform: uppercase;
}
footer{
  background-color: #F5F5F5;
}

/* Loader Styles */
.loader-container{

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  z-index: 1000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* End of Loader Styles*/

.adistec-select-field{
  position: relative;

  button{
    top:10px !important;
    fill:#CCC !important;
    @include transitionAll;

    &:hover{
      fill:$adistecBlue !important;
    }
  }

  .clear-button{
    margin-top: 29px;
    height: 50%;
    position: absolute;
    right:10px;
    top:0px !important;
    color:#CCC;
    cursor:pointer;
    font-size:12px;
    z-index: 7;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &:hover{
      color:$adistecBlue;
    }
  }

  /*Adistec Autocomplete*/
  .Select{
    .Select-control{
      margin-top: 21px;
      border: none;
      border-bottom: 1px solid rgb(224, 224, 224);
      border-radius: 0px;
      height: 33px;

      .Select-value,
      .Select-placeholder{
        padding-left:0px;
      }
    }
    .Select-input{
      height: 32px;
      padding-left:0px;
    }
    .Select-clear{
      font-size:0px;

      &:before{
        content: "\f00d";
        font-size: 12px;
        font-family: 'FontAwesome';
        color:#CCC;
      }

      &:hover:before{
        color:$adistecBlue;
      }
    }
    .Select-arrow {
      border-color: #CCC transparent transparent;

      &:hover{
        border-color: $adistecBlue transparent transparent;
      }
    }
    .Select-menu-outer{
      z-index: 9;
    }
    &.is-focused,
    &.has-value{
      .Select-control{
        box-shadow: none;
        border-bottom: solid 2px $adistecBlue;

        .Select-placeholder{
          display:none;
        }
      }
      & + .helper-placeholder{
        transform: scale(0.75) translate(0px, -28px);
        display:block;
      }
    }
    &.is-open{
      .Select-arrow {
        border-color: transparent transparent #CCC;

        &:hover{
          border-color: transparent transparent $adistecBlue;
        }
      }
    }
    .has-value{
      .Select-control{
        border-bottom: 2px solid $adistecBlue;
      }
    }
  }

  .helper-placeholder{
    position: absolute;
    line-height: 22px;
    top: 27px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    transform-origin: left top 0px;
    pointer-events: none;
    user-select: none;
    color: rgba(0, 0, 0, 0.3);
    display:none;
  }

}

/* Sticky footer */
html, body, #app {
  height: 100%;
}
.appWrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main-wrapper{
  flex: 1;
}

.empty-list-message{
  text-align: center;
  color: #999;
  border: solid 1px #E5E5E5;
  border-radius: 3px;
  padding: 25px 25px 15px 25px;

  h3{
    margin:0px;
  }

  .fa-search{
    padding-bottom:15px;
    font-size: 24px;
  }
}

.adistec-drawer{
  .open div+div {
    min-width: 200px !important;
  }
}

/* TODO Incorporar posibiliidad de varios tamaños en componentes que generan su clase "col" dinamicamente
  La siguiente clase porporciona un workaround provisorio forzando al 100% cualquier columna en tamaños xsmall.
    Puede ubicarse en la propiedad "size" de los componentes React propietarios */
@include sm-only{
  .row .col.w100xs {
    width:100% !important;
  }
}

.panel-container{
  @include card_styled(#FFFFFF);
  float:left;
  width: 100%;
  padding: 15px 10px;

  &+&{
    margin-top:20px;
  }

  .panel-title-container{
    .title{
      font-size: $smFont;
      text-transform: uppercase;
      font-weight: 700;
      color: #666;

      @include md{
        //width:70%;
        font-size: $mdFont;
      }
    }

    .sidenote{
      float: right;
      font-size: $smFont;
      text-transform: uppercase;
      color: #999;

      @include md{
        //width:25%;
        font-size: $mdFont;
        text-align:right;
      }
    }

    .notice{
      display: block;
      margin: 15px 0px 10px 0px;
      color: #008fcb;
      @include border_radius(3px);
      font-size: $mdFont;
      font-weight: 700;
    }
  }
}

ul.multiple-selection-list{
  margin-top:5px;

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &:checked + label{
      opacity: 1;
      background-color: $adistecBlue;
      color:#FFF;

      img,
      .aid-checkbox span:after {
        opacity: 1;
      }
    }
  }

  li{
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    @include sm-only{
      width:48%;
    }
  }

  label{
    @include noselecthighlight;
    cursor:pointer;
    background-color: #FFF;
    color:$adistecBlue;
    border:solid 2px $adistecBlue;
    width:100%;
    display:block;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    @include border_radius(20px);
  }

  &.image-list{
    height: 70px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    @include md{
      height: 120px;
    }

    li{
      margin-right: 3px;
      margin-bottom: 3px;
      position: relative;
      width:auto;
    }

    label{
      @include border_radius(0px);
      width:50px;
      height:50px;
      @include flex-center-center;
      padding:0px;

      @include md{
        width:100px;
        height:100px;
      }

      img{
        max-width:100%;
        max-height:100%;
        opacity: 0.70;
      }

      .aid-checkbox{
        width: 15px;
        position: absolute;
        top: 5px;
        right: 5px;

        span {
          width: 15px;
          height: 15px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.4);
          background-color: #FFF;
          &:after {
            content: '';
            width: 9px;
            height: 6px;
            position: absolute;
            top: 4px;
            left: 3px;
            border: 3px solid #666;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

ul.single-selection-list{
  margin-top:5px;

  input[type=radio] {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    & + label{
      opacity: 0.4;
    }

    &:not([disabled]) + label:hover{
      opacity: 0.85;
      cursor:pointer;
    }

    &:checked + label{
      opacity: 1;

      &:before{
        content: '';
        width: 10px;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 8px;
        border: 3px solid #FFF;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 1;
        transform: rotate(-45deg);
        margin-top: -4px;
      }
    }
  }

  label{
    @include noselecthighlight;
    background-color: $adistecBlue;
    width:100%;
    display:block;
    text-align: center;
    color:white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    position:relative;
  }

  li{
    /*State colors*/
    &[data-state='requested'] label{
      background-color:$flatRed;
    }
    &[data-state='inprogress'] label{
      background-color:$flatOrange;
    }
    &[data-state='onhold'] label{
      background-color:$flatLightBlue;
    }
    &[data-state='cancelled'] label{
      background-color:$flatGrey;
    }
    &[data-state='done'] label{
      background-color:$flatGreen;
    }
  }

  &.stacked{
    li{
      display:block;
      margin-top: 4px;
    }

  }
}

.csscheckbox{

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    &:checked + label{
      opacity: 1;
      background-color: $adistecBlue;
      color:#FFF;

      .aid-checkbox{
        span{
          box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 0px 0px 2px rgba(0,143,203,1);
         &:after {
           opacity: 1;
         }
        }
      }
    }
  }

  .aid-checkbox{
    text-align: center;

    span {
      width: 15px;
      height: 15px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 0px 0px 1px rgba(0,143,203,0.5);
      background-color: #FFF;
      &:after {
        content: '';
        width: 9px;
        height: 6px;
        position: absolute;
        top: 4px;
        left: 3px;
        border: 3px solid #666;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

@mixin copybutton(){
  font-size: 11px;
  text-transform: uppercase;
  color: $adistecBlue;
  font-weight: 700;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -9px;
  z-index: 9;
}

ul.url-list{
  margin-top:5px;

  li + li{
    border-top: solid 1px #EEE;
  }

  li {
    background-color: #F5F5F5;
    padding: 4px 14px;
    position: relative;

    strong{
      display:inline-block;
      width:115px;
    }

    button{
      @include copybutton;
    }

    span{
      display:block;
      width: 85%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}

.file-upload-container {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  position: relative;

  .hint{
    color: #999;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
    width: 100%;
    text-align: center;
    float: left;
    clear: both;
  }

  button{
    @include border_radius(3px);
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;

    &>div {
      height: 100px !important;
      border-color: #999 !important;
      padding: 10px !important;
      font-weight: 700 !important;
      font-size: $smFont !important;
      width: 100% !important;
      display: table;

      &:hover{
        background-color: #FAFAFA;
        border-style:solid;
      }

      &>div{
        display: table-cell;
        vertical-align: middle;
      }

      img{
        max-width: 100%;
        height: 100%;
      }
    }
  }

  .clear-button{
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 10px;

    button{
      color:#666;

      &:hover{
        color:$adistecLightBlue;
      }
    }
  }
}

.static-input-label{
  color: #999999;
  font-size: $smFont;
  margin-top: 10px;
  display: block;
}

.log-list{
  &.small{
    font-size:$smFont;
  }

  strong{
    color:$adistecLightBlue;
  }

  li{
    padding: 3px 0px 3px 0px;

    &:not(:first-child){
      border-top: solid 1px #F5F5F5;
    }
  }
}

.adistec-select-field{
  height: 75px !important;
}

button.cancel{
  width:100%;
  background-color:#999;
  display:block;
  padding:7px;
  color:#FFF;
  text-transform: uppercase;
  @include border_radius(3px);
  margin-top:5px;
}

.copybutton{
  @include copybutton;
}


.fields-subdivision{
  border: solid 1px #DDD;
  float: left;
  width: 100%;
  padding: 10px;
  @include border_radius(3px);
  margin-bottom: 5px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

  .title{
    margin-top:10px;
    display: block;
    font-size: $smFont;
    text-transform: uppercase;

    &+.tip{
      font-size:$smFont;
      color:#666;
    }
  }
}

error{
   color: red;
   font-size: 12px;
   border-top: solid 2px red;
   margin-top: 10px;
   display: block !important;
}

.w100{
  width:100%;
}

.tint-row{
  background-color: #FFE1E4 !important;
}

.quill {
  .ql-container {
    min-height: 140px;
  }
}

.referidos-esquemaincentivo {
  display: block;
  width: 320px;
  margin: 15px auto;

  th,td{
    text-align: center;
    border: solid 1px #CCC;
  }

  th{
    width: 50%;
    padding: 5px 30px;
  }

  td{
    width:50%;
  }
}

.referidos-tablaproceso{
  border:solid 1px #DDD;

  table{
    font-size:14px;
    margin: 0px;

    th, td{
      padding:10px 20px;
      border-spacing: 0px;
      border-collapse: separate;
    }

    td{
      position: relative;
      border: solid 1px #DDD;
      width:20%;
      vertical-align: top;

      .flecha{
        position:absolute;
        top:50%;
        transform:translate(55%, -50%);
        right:0px;
        color:$adistecBlue;
        z-index: 999;
        font-size:30px;
      }
    }
  }
}

.sc-dnqmqq{
  margin-top: -5px;
}

.a--display-block{
  display:block;
}

/* Begin : Section : Employee Map Styles */

.map-container-fixed{
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.rsm-marker{
  cursor:pointer;
}

.selected-employee-details {
  color: #FFF;
  display: table;
  width: 100%;

  .col{
    display: table-cell;
    vertical-align: middle;
    float: none !important;

    h1{
      font-size: 28px;
      margin: 0;
    }
    h2{
      font-size: 22px;
      margin-top: 0;
    }
    p{
      margin:0px;
    }
  }
}


.a--profilepic{
  padding: 5px;

  @include lg(){
    padding: 15px;
  }

  position: relative;

  .a--profilepic-icon{
    position: absolute;
    right: 8px;
    top: 6px;
    z-index: 1;
    background-color: $adistecBlue;
    color: #FFF;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    overflow: hidden;
    max-width: 26px;
    height: 26px;
    text-align: center;

    &.green{
      background-color: $mapGreen;
    }

    &,i,em{
      @include transitionSlow();
    }

    i{
      font-size: 19px;
      margin-left: -6px;

      &.ascii{
        margin-top: -4px;
      }
    }
    i,em{
      display: block;
      font-style: normal;
      white-space: nowrap;
    }
  }
  &:hover{
    .a--profilepic-icon{
      max-width: 100px;
      border-radius: 999px;

      i{
        margin-top: -26px;
        margin-bottom: 7px;

        &.ascii{
          margin-bottom: 1px;
        }
      }
    }
  }

  .a--profilepic-image-circle{
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding-top: 130%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    @include box_shadow(1);

    .a--profilepic-image{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }
  .a--profilepic-name{
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #666;
    min-height: 54px;
    font-size: 12px;

    @include xl(){
      font-size:14px;
    }
  }
}

.employee-detail-modal-body,
.employee-search-modal-body{
  padding:0px !important;

  .employee-item{
    cursor:pointer;

    &:hover,
    &.active{
      box-shadow: rgba(0, 0, 0, 0.42) 0px 3px 12px, rgba(0, 0, 0, 0.32) 0px 2px 5px !important;
    }
    &.active{
      background-color: $mapGreen !important;

      .a--profilepic-name{
        color:#FFF;
      }
    }
  }
}
.employee-detail-modal-body{
  .active button,
  button.active{
    background-color:$mapGreen !important;
  }
  button{
    div{
      div{
        span{
          text-transform: none !important;
        }
      }
    }
  }
}

.a--modal-header {
  text-transform: none;

  .office-title {
    span {
      vertical-align: middle;
    }
  }
  .office-address,
  .office-contact-info {
    font-size: $mdFont;
  }
}


/* End : Section : Employee Map Styles */

.a--margin-top-30{
  margin-top:30px;
}

.a--margin-bottom-20{
  margin-bottom:20px;
}

.a--padding-topbottom-30{
  padding-top:30px;
  padding-bottom:30px;
}

.a--borderradius-5{
  @include border_radius(5px);
}
.a-border-2-white{
  border:solid 2px #FFF;
}
.a--shadow-topbottom-inset{
  box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
}
